//-- Variables: --//

// Media Queries:
$m_smallest: 340px;
$m_small: 550px;
$m_tablet: 769px;
$m_medium: 960px;
$m_large: 1400px;

// Colours:
$red: #660800;
$black: #000000;
$yellow: #FCB712;
$white: #ffffff;
$grey: #848484;

// Universal color names:
$bg: $black;
$dark: $black;
$faded: $grey;
$opposite: $white;
$primary: $yellow;
$secondary: $red;

// Other:
$il: "../images/"; //image location

// @Font-face:
@mixin sans-serif {
    font-family: sans-serif;
}
@mixin serif {
    font-family: 'Crimson Text', serif;
}

// Default styles:
html, body {
    margin: 0;
    padding: 0;
    @include serif;
    background: $bg;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    font-weight: 700;
    font-smoothing: antialiased;
}
li, p, blockquote {
    line-height: 1.5em;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    @media only screen and (min-width: $m_medium) {
        max-width: $m_medium;
        margin: 0 auto;
    }
    @media only screen and (max-width: $m_tablet) {
        width: 96%;
        margin: 0 2%;
    }
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 1em 0;
    text-align: center;
}
a {
    color: $opposite;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// mixins:
@mixin noList {
    list-style: none;
    padding: 0;
    margin: 0;
}
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin clearer {
    overflow: auto;
    zoom: 1;
}