//-- Main --//
// bower:scss
// endbower

@import "base";
@import "font";

//--- Header ---//

.header {
    margin: 0px auto;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    border-top: 0px;
    transition: all .6s ease-in-out;
    &.scrolled {
        float: left;
        margin: 0px;
        border-top: 6px solid $primary;
        background-color: $bg;
        z-index: 997;
        max-width: 100%;
        left: 0;
        h2 {
            height: 0;
            overflow: hidden;
            transition: height 1s ease-in-out;
        }
        &:after {
            content: 'P';
            display: block;
            position: fixed;
            top: 6px;
            left: 10px;
            padding-top: 7px;
            line-height: 1em;
            width: 36px;
            height: 36px;
            font-size: 30px;
            color: $dark;
            @include serif;
            font-weight: 700;
            text-align: center;
            background-color: $primary;
            @media (min-width: $m_medium) {
                left: 50%;
                margin-left: -480px;
            }          
        }
    }
    @media (min-width: $m_medium) {
        max-width: 960px;
        left:50%;
        margin-left: -480px;
    }

}
h2 {
    margin: 20px 0 0;
    font-size: 30px;
    font-size: 10vw;
    color: $primary;
    @include serif;
    font-weight: 700;
    text-align: center;
    @media (min-width: $m_tablet) {
        font-size: 80px;
        .searched & {
            float: left;
            font-size: 30px;
            font-size: 6vw;
            text-align: left;
            margin: 20px;
        }
    }
}
.search-holder {
    margin: 0 10px;
    position: fixed;
    top: 70px;
    width: calc(100% - 20px);
    @media (min-width: $m_tablet) {
        width: 700px;
        left: 50%;
        margin-left: -350px;
    }
    .scrolled & {
        top: -14px;
        right: 0;
        width: calc(100% - 66px);
        transition: all .6s ease-in-out;
        z-index: 999;
        @media (min-width: $m_tablet) {
            
        }
    }
    .searched & {
        @media (min-width: $m_tablet) {
            width: 960px;
            top: 24px;
            right: 50%;
            left: auto;
            margin: 0 -480px 0 0;
            max-width: 80%;
        }
    }
}
.searched .scrolled .search-holder {
    top: 0px;
}
.tags {
    width: 80%;
    height: 36px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 36px;
    border: 1px solid $opposite;
    margin: 20px 0;
    @include placeholder {
        color: $faded;
    }
    @media (min-width: $m_tablet) {
        float: right;
        width: 60%;
        margin-left: 15%;
        .scrolled & {
           width: 80%;
           margin: 6px 0 0 0;
        }
        .searched & {
            width: 300px;
        }
    }
}
.searchbutton {
    width: 20%;
    height: 36px;
    float: right;
    margin: 20px 0;
    background: $opposite;
    border-radius: 0;
    border: 0;
    font-size: 20px;
    color: $dark;
    cursor: pointer;
    &:hover {
        color: $secondary;
    }
    i {
        float: right;
    }
    @media (min-width: $m_tablet) {
        width: 10%;
        margin-right:15%;
        .searched & {
            margin: 20px 10px 0 0;
        }
        .scrolled & {
            margin-right: 0;
            .searched & {
                margin: 6px 10px 0 0;
            }
        }
    }
}


//-- Content --//

.container {
    max-width: 980px;
    margin: 60px auto 0;
    width: 100%;
    position: relative;
}
.main-img {
    display: none;
    margin: 0 10px;
    background: $bg;
    position: fixed;
    top: 120px;
    width: 100%;
    width: calc(100% - 20px);
    z-index: 999;
    overflow: hidden;
    max-width: 960px;
    .scrolled & {
        top: 60px;
        transition: all 0.6s ease-in-out;
    }
    .img-pic {
        height: 300px;
        margin: 0 auto;
        display: block;
        @media (min-width: $m_tablet) {
            height: 430px;
        }
    }
}
.explain {
    color: $opposite;
    text-align: center;
    font-size: 24px;
    margin: 40px 0 5px;
    @include sans-serif;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items : flex-start;
    align-content: flex-start;
    padding-bottom: 20px;
}
.gallery-item {
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    &:hover {
        border: 4px solid $secondary;
    }
    @media (min-width: $m_smallest) {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    img {
       width:  250px;
       margin-left: -25px;
       top: 50%;
    }
}
.selected {
    border: 4px solid $primary;
}
.img-info {
    border-bottom: 5px solid $opposite;
    margin: 0 0px 20px;
    position: relative;
    max-width: 960px;
    @include clearer;
    p {
        color: $opposite;
        font-size: 13px;
        float: left;
        margin: 10px 0;
        max-width: calc(80% - 88px);
        line-height: 1.1em;
        @include sans-serif;
        @media (min-width: $m_small) {
            text-align: center;
            margin: 1em 0;
            font-size: 17px;
            max-width: 100%;
            float: none;
        }

    }
}
.social{
    float: right;
    text-align: center;
    background: $secondary;
    color: $opposite;
    text-transform: uppercase;
    text-decoration: none;
    @include sans-serif;
    padding: 0 15px;
    line-height: 48px;
    &:hover {
        background-color: $primary;
    }
    @media (min-width: $m_tablet) {
        position: absolute;
        bottom: 0;
        width: 88px;
        height: 50px;
        right: 50%;
        margin-right: -44px;
        right: 0;
        margin: 0;
    }
}
.image-nav {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: $opposite;
    color: $dark;
    opacity: 0.6;
    border-radius: 20px;
    top: 40%;
    font-size: 32px;
    &:hover {
        opacity: 1;
    }
}
.next {
    right: 0;
}
.prev {
    left: 0;
    text-indent: -2px;
    display: none;
}